div
  h3 HSL-strömmar
  div#streams
    -each stream in files
       div.stream
         a(href="/")
           img(src ="/img/Octagon_delete.svg" height ="20px")
         a(href ="/cutpoint?media=#{stream}")
           img(src ="/img/Dollar_Sign.svg" height ="20px")
         a(href ="/streams/#{stream}/#{stream}.m3u8") #{stream}
