
div
  h3 Select Cutpoint
  div
    p Original File : #{orig_file}
    p Stream Duration : #{duration}
    form(action="docut")
      input(type="hidden",name="oldfile",value=orig_file)
      br
      label(for="newfile") New Manifest:
      input(type="text",name="newfile",value=new_file)
      br
      br
      label(for="clippoint") Clip Point:
      input(type="text",name="clippoint",value=(duration/2.0))
      br
      br
      label(for="ad") Ad file (Currently read-only):
      input(type="text",name="ad",value=("ad.ts"))
      br
      br
      input(type="submit")

