
div
  h3 Select Cutpoint
  div
    p Original File : #{orig_file}
    p Stream Duration : #{duration}
    form(action="docut")
      input(type="hidden",name="oldfile",value=orig_file)
      br
      label(for="newfile") New Manifest:
      input(type="text",name="newfile",value=new_file, readonly)
      br
      br
      label(for="clippoint") Ad marker (seconds):
      input(type="text",name="clippoint",value=(5))
      br
      br
      br
      input(type="submit")

